<p id="notice"><%= notice %></p>

<h1>Testqs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testqs.each do |testq| %>
      <tr>
        <td><%= link_to 'Show', testq %></td>
        <td><%= link_to 'Edit', edit_testq_path(testq) %></td>
        <td><%= link_to 'Destroy', testq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testq', new_testq_path %>
