

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix transparent b-0 ">

				<!-- TOP NAV -->
				<header id="topNav">
					
					<div class="container">

								<!-- Logo -->
								<a class="logo float-left " href="/" style="opacity: 0.8; ">
									<%= image_tag "R2.png" %>
								</a>
						
						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						

					<ul id="topMain" class="nav nav-pills nav-main nav-onepage float-right">
									<li class="active"><!-- HOME -->
										<a  href="/">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a  href="/#services-nav" data-turbolinks="false" >
											SERVICES
										</a>
									</li>
									<li><!-- PORTFOLIO -->
										<a  href="/#portfolio-nav" data-turbolinks="false">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a   href="/#news-nav" data-turbolinks="false">
											NEWS
										</a>
									</li>
									
									<li><!-- CLIENTS -->
										<a   href="/#clients-nav" data-turbolinks="false" >
											CLIENTS
										</a>
									</li>
								
									<li><!-- CONTACT -->
										<a  href="/#contact-nav" data-turbolinks="false">
											CONTACT
										</a>
									</li>
								

                                    <!-- BACKEND -->
										<% if user_signed_in?%>

										    <%= link_to 'SIGN OUT', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %>
											<%= link_to 'Admin',rails_admin_path%>
											<%= link_to 'Leads',leads_path%>

										<% else %>

                                             <%= link_to "LOGIN", new_user_session_path%>

                                        <%end%>
                                        
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
		
			</div>
			