<div class="fullscreenbanner" data-navigationStyle="preview2" id="home-nav" >
   <ul class="hide">
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Home" >
         <!-- SLIDE 1-->
         <div class="tp-caption customin ltl tp-resizeme large_bold_white" s
            data-x="center"
            data-y="230"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1200"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10;">
            Welcome to Rocket Elevators
         </div>
         <div class="tp-caption customin ltl tp-resizeme medium_light_white"
            data-x="center"
            data-y="350"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1400"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10; width: 1000px; max-width: 1000px; white-space: normal; text-align:center;">
            we take our craft out of this world
         </div>
         <div class="tp-caption customin ltl tp-resizeme"
            data-x="center"
            data-y="438"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1550"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10;">
            <a href="#services-nav" class="btn bg-maroon btn-lg" >
            <span style="color: white;">DISCOVER</span> 
            </a>
         </div>
         <div class="tp-caption customin ltl tp-resizeme"
            data-x="center"
            data-y="538"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1550"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10;">
            <a href="quote" class="btn bg-maroon btn-lg ">
            <span style="color: white;">FREE QUOTE</span> 
            </a>
         </div>
         <div class="overlay dark-4">
            <!-- dark overlay [1 to 9 opacity] -->
         </div>
         <%=image_tag("AdobeStock_179073967.jpeg", alt: "Example Image")%>
      </li>
      <!-- SLIDE 2-->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Residential" >
         <div class="tp-caption tp-fade fadeout fullscreenvideo"
            data-x="0"
            data-y="0"
            data-speed="1000"
            data-start="1100"
            data-easing="Power4.easeOut"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1500"
            data-endeasing="Power4.easeIn"
            data-autoplay="true"
            data-autoplayonlyfirsttime="false"
            data-nextslideatend="true"
            data-volume="mute" 
            data-forceCover="1" 
            data-aspectratio="16:9" 
            data-forcerewind="on" style="z-index: 2;">
         </div>
         <div class="tp-caption customin ltl tp-resizeme large_bold_white"
            data-x="center"
            data-y="230"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1200"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 3;">
            Residential Solutions
         </div>
         <div class="tp-caption customin ltl tp-resizeme medium_light_white"
            data-x="center"
            data-y="350"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1400"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10; width: 1000px; max-width: 1000px; white-space: normal; text-align:center;">
            Who walks up stairs these days ? <br \ > 
            Acess your home the better way
         </div>
         <div class="tp-caption customin ltl tp-resizeme"
            data-x="center"
            data-y="438"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1550"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10;">
            <a href="residential.html" class="btn bg-maroon btn-lg">
            <span style="color: white;">DISCOVER</span> 
            </a>
         </div>
         <div class="tp-caption customin ltl tp-resizeme"
            data-x="center"
            data-y="538"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1550"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10;">
            <a href="quote.html" class="btn bg-maroon btn-lg">
            <span style="color: white;">RESIDENTIAL QUOTE</span> 
            </a>
         </div>
         <div class="overlay dark-4">
            <!-- dark overlay [1 to 9 opacity] -->
         </div>
         <%=image_tag("AdobeStock_146216308.jpeg", alt: "Example Image")%>
      </li>
      <!-- SLIDE 3-->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Commercial" >
         <div class="tp-caption customin ltl tp-resizeme large_bold_white"
            data-x="center"
            data-y="230"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1200"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10;">
            Commercial Solutions
         </div>
         <div class="tp-caption customin ltl tp-resizeme medium_light_white"
            data-x="center"
            data-y="350"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1400"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10; width: 1000px; max-width: 1000px; white-space: normal; text-align:center;">
            We deliver results, not promises ! <br \ > 
            Let us worry about <b>your next project</b>
         </div>
         <div class="tp-caption customin ltl tp-resizeme"
            data-x="center"
            data-y="438"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1550"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10;">
            <a href="commercial.html" class="btn bg-maroon btn-lg">
            <span style="color: white; ">DISCOVER</span> 
            </a>
         </div>
         <div class="tp-caption customin ltl tp-resizeme"
            data-x="center"
            data-y="538"
            data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
            data-speed="800"
            data-start="1550"
            data-easing="easeOutQuad"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.01"
            data-endelementdelay="0.1"
            data-endspeed="1000"
            data-endeasing="Power4.easeIn" style="z-index: 10;">
            <a href="quote.html" class="btn bg-maroon btn-lg">
            <span style="color: white;">FREE QUOTE</span> 
            </a>
         </div>
         <div class="overlay dark-4">
            <!-- dark overlay [1 to 9 opacity] -->
         </div>
         <%=image_tag("AdobeStock_66781279.jpeg", alt: "Example Image")%>
      </li>
   </ul>
</div>
<a href="#contact-nav" class="btn btn-xlg  bg-maroon fs-20 fullwidth m-0 rad-0 p-40 " >
<span class="font-lato fs-30" style="color: white">
Did we convince you? 
<strong>Contact us &raquo;</strong>
</span>
</a>
<!-- Services -->
<section id="services-nav">
   <div class="container">
      <div class="row" style=" padding-top: 10%">
         <div class="col">
            <a class="" href="/#portfolio-nav" >
            <%=image_tag("AdobeStock_122227340.jpeg", alt: "Example Image", :class => 'img-fluid' )%>
            </a>
            <h3 class="mt-10">Our Award Winning Projects</h3>
            <p>Discover just some of the projects Rocket Elevators has won awards for !</p>
            <a href="/#portfolio-nav" class="btn btn-default " >LEARN MORE</a>
         </div>
         <div class="col">
            <a href="residential.html">	
            <%=image_tag("AdobeStock_72034307.jpeg", alt: "Example Image", :class => 'img-fluid' )%>
            </a>
            <h3 class="mt-10">Residential Projects</h3>
            <p>Discover our residential solutions</p>
            <br />
            <a href="residential.html" class="btn btn-default ">LEARN MORE</a>
         </div>
         <div class="col">
            <a href="commercial.html">	
            <%=image_tag("AdobeStock_130711085.jpeg", alt: "Example Image", :class => 'img-fluid' )%>
            </a>
            <h3 class="mt-10">Commercial Projects</h3>
            <p>Discover our commercial solutions</p>
            <br />
            <%= link_to "READ MORE", pages_commercial_path, class:"btn btn-default" %>
         </div>
      </div>
   </div>
</section>
<!-- /Services -->
<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url(<%= image_path "R201.jpg" %>)">
   <div class="overlay dark-6">
      <!-- dark overlay [1 to 9 opacity] -->
   </div>
   <div class="container">
      <div class="text-center">
         <h1 class="fs-90 fw-300">In business since 1976</h1>
         <a class="btn bg-maroon btn-lg" href="quote.html">REQUEST A QUOTE </a> 
         &nbsp; OR &nbsp; 
         <a class="btn  btn-lg btn-default " href="/#contact-nav">CONTACT US</a>
      </div>
   </div>
</section>
<!-- /Parallax -->
<!-- PORTFOLIO -->
<section id="portfolio-nav">
   <div class="container">
      <div class="heading-title heading-dotted text-center" id="awards">
         <h2>Featured Work</h2>
      </div>
      <div class="text-center">
         <ul class="nav nav-pills mix-filter mb-60">
            <li data-filter="all" class="filter active"><a href="#">All</a></li>
            <li data-filter="Residential" class="filter"><a href="#">Residential</a></li>
            <li data-filter="Commercial" class="filter"><a href="#">Commercial</a></li>
            <li data-filter="Artistic" class="filter"><a href="#">Artistic</a></li>
         </ul>
      </div>
   </div>
   <div id="portfolio" class="portfolio-nogutter">
      <div class="row mix-grid">
         <div class="col-md-3 col-sm-3 mix Commercial">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e1" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e1.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Architect Wonder</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="">Commercial</a></li>
                     <li><a href="">Architecture</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Artistic">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href=" e2.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e2.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Tunnel Tomorrow</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="">Artistic</a></li>
                     <li><a href="">Architecture</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Residential">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e3.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e3.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>House Development</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="">Residential</a></li>
                     <li><a href="">Material</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Commercial">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e4.jpeg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e4.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Industrial Complex</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="">Commercial</a></li>
                     <li><a href="">Industrial</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Commercial">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e5.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e5.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Hotel Dwight</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href=""> commercial</a></li>
                     <li><a href="">Industrial</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Artistic">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e6.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e6.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Forestry</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Artistic</a></li>
                     <li><a href="#">Architecture</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Residential">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e8.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e8.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Wood Work</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Residential</a></li>
                     <li><a href="#">Material</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Artistic">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e9.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e9.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Subway Inn</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Artistic</a></li>
                     <li><a href="#">Architecture</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Artistic">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e10.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e10.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Movie Set</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Artistic</a></li>
                     <li><a href="#">Material</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Residential">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e7.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e7.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Modern House</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Residential</a></li>
                     <li><a href="#">Material</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Residential">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e11.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e11.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Vintage Looks</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Residential</a></li>
                     <li><a href="#">Architecture</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
         <div class="col-md-3 col-sm-3 mix Residential">
            <!-- item -->
            <div class="item-box">
               <figure>
                  <span class="item-hover">
                     <span class="overlay dark-5"></span>
                     <span class="inner">
                        <!-- lightbox -->
                        <a class="ico-rounded lightbox" href="e12.jpg" data-plugin-options='{"type":"image"}'>
                        <span class="fa fa-plus fs-20"></span>
                        </a>
                     </span>
                  </span>
                  <%= image_tag "e12.jpg", :size => '378x213' %>
               </figure>
               <div class="item-box-desc">
                  <h3>Simple Works</h3>
                  <ul class="list-inline categories m-0">
                     <li><a href="#">Residential</a></li>
                     <li><a href="#">Material</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- /item -->
      </div>
   </div>
</section>
<!-- /Awards and other -->
<!-- PORTFOLIO -->
<!--
   data-controlNav="thumbnails" 	- thumbnails navigation
   data-controlNav="true" 		- arrows navigation
   data-controlNav="false"		- no navigation
   data-arrowNav="false"		- no arrows navigation
   data-slideshowSpeed="7000"	- slideshow speed
   data-pauseOnHover="true"	- pause on mouse over
   -->
<!-- ceo and emp of the month -->
<section id="team" class="parallax parallax-1 section-xs dark tp-caption customin ltl tp-resizeme" style="background-image: url(<%= image_path "R201.jpg" %>)">
   <div class="overlay dark-6">
      <!-- dark overlay [1 to 9 opacity] -->
   </div>
   <div class="container">
      <div class="owl-carousel text-center  m-0 " data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
         <div id="CEO" >
            <figure>
               <img class="rounded" style="width: 350px; height: 350px;" src="https://ca.slack-edge.com/TA0LESZM3-U03GCK1F2QP-b91927c83cad-512" alt="" />
            </figure>
            <div class=" p-0">
               <h3 class="fs-90 fw-300">Our CEO </h3>
               <!-- wierd bug, seems like the color is not being correctly applying in the section class so i had to manually change it in the p tag right above this comment-->
            </div>
         </div>
         <div id="employee">
            <figure>
               <img class="rounded" style="width: 350px; height: 350px;" src="https://ca.slack-edge.com/TA0LESZM3-U03GLKUDZJ6-567bb78d413e-512" alt="" />
            </figure>
            <div class="p-0">
               <h3 class="fs-90 fw-300">Employee Of The Month</h3>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- /Testimonials -->
<!-- News -->
<section id="news-nav">
   <div class="container">
      <div class="heading-title heading-dotted text-center">
         <h2>Recent News</h2>
      </div>
      <!-- 
         controlls-over		= navigation buttons over the image 
         buttons-autohide 	= navigation buttons visible on mouse hover only
         
         data-plugin-options:
         	"singleItem": true
         	"autoPlay": true (or ms. eg: 4000)
         	"navigation": true
         	"pagination": true
         	"items": "4"
         owl-carousel item paddings
         	.owl-padding-0
         	.owl-padding-3
         	.owl-padding-6
         	.owl-padding-10
         	.owl-padding-15
         	.owl-padding-20
         -->
      <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
         <!-- item 1-->
         <div class="img-hover">
            <a href="https://elevatorworld.com/news/daily-news/modern-elevator-innovations-acquired-by-atta-elevators/"> 
            <%= image_tag "https://elevatorworld.com/wp-content/uploads/2022/05/TKE-Publishes-First-Sustainability-Report.jpg", class:"img-fluid", style:"width: 300 px ;height:200px" %> 
            </a> 
            <h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/modern-elevator-innovations-acquired-by-atta-elevators/">Modern Elevator Innovations Acquired by ATTA Elevators</a></h4>
            <p class="text-left">Modern Elevator Innovations, with locations in Burlington, Canada, and NYC, has been acquired by ATTA Elevators Corp., a full-service elevator</p>
         </div>
         <!--item 2-->
         <div class="img-hover">
            <a href="https://elevatorworld.com/news/daily-news/registration-open-for-naec-2022-convention-and-expo-in-louisville/"> 
            <%= image_tag "https://elevatorworld.com/wp-content/uploads/2022/05/Registration-Open-for-NAEC-2022-Convention-and-Expo-in-Louisville.jpg", class:"img-fluid", style:"width: 300 px ;height:200px" %>
            </a> 
            <h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/toapanta-tapped-to-lead-urban-elevators-l-a-operation/">NAEC 2022 Convention</a></h4>
            <p class="text-left">Registration and room blocks are now open for the National Association of Elevator Contractors (NAEC) 2022 Convention</p>
         </div>
         <!--item 3-->
         <div class="img-hover">
            <a href="https://elevatorworld.com/news/daily-news/tower-with-design-style-proposed-for-brisbane-australia/">
            <%= image_tag "https://elevatorworld.com/wp-content/uploads/2022/05/Tower-With-Design-Style-Proposed-for-Brisbane-Australia.jpg", class:"img-fluid", style:"width: 300 px ;height:200px" %> 
            </a> 
            <h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/tower-with-design-style-proposed-for-brisbane-australia/">Tower With Design Style Proposed for Brisbane, Australia</a></h4>
            <p class="text-left">The designer Rothelowman, working with developer Aris, has come up with a 20-story tower in the Kangaroo</p>
         </div>
         <div class="img-hover">
            <a href="https://elevatorworld.com/news/daily-news/20-story-luxury-apartment-tower-planned-in-houston/"> 
            <%= image_tag "https://elevatorworld.com/wp-content/uploads/2022/05/20-Story-Luxury-Apartment-Tower-Planned-in-Houston.jpg", class:"img-fluid", style:"width: 300 px ;height:200px" %> 
            </a> 
            <h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/20-story-luxury-apartment-tower-planned-in-houston/">20-Story Luxury Apartment Tower Planned in Houston</a></h4>
            <p class="text-left">El Paso, Texas-based Hunt Cos. and Dallas-based StreetLights Residential announced plans on May 2 for a 20-story luxury apartment building</p>
         </div>
         <div class="img-hover">
            <a href="https://elevatorworld.com/news/daily-news/kone-elevator-india-showcases-solutions-at-bengaluru-event/"> 
            <img class="img-fluid" style="width: 300 px ;height:200px" src="https://elevatorworld.com/wp-content/uploads/2022/05/KONE-Elevator-India-Showcases-Solutions-at-Bengaluru-Event.jpg" alt=""> 
            </a> 
            <h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/kone-elevator-india-showcases-solutions-at-bengaluru-event/">KONE Elevator</a></h4>
            <p class="text-left">KONE Elevator India Pvt. Ltd. showcased its digital, futuristic elevator and escalator solutions</p>
         </div>
         <div class="img-hover">
            <a href="https://elevatorworld.com/news/daily-news/elevator-by-mid-american-for-new-times-square-subway-entrance/">
            <img class="img-fluid" style="width: 300 px ;height:200px" src="https://elevatorworld.com/wp-content/uploads/2022/05/Elevator-by-Mid-American-for-New-Times-Square-Subway-Entrance.jpg" alt=""> 
            </a> 
            <h4 class="text-left mt-20"><a href="https://elevatorworld.com/news/daily-news/elevator-by-mid-american-for-new-times-square-subway-entrance/">Elevator by Mid-American for New Times Square Subway Entrance</a></h4>
            <p class="text-left">Developer Jamestown LP contributed US$10 million and the NYC Metropolitan Transportation Authority (MTA) added US$40 million for a new entrance</p>
         </div>
      </div>
   </div>
</section>
<!-- /News -->
<section id="clients-nav" class="alternate ">
   <div class="container">
      <div class="heading-title heading-dotted text-center">
         <h2>Our Clients</h2>
      </div>
      <ul class="row clients-dotted list-inline" style="opacity: 65%  ;">
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.intel.ca/content/www/ca/en/homepage.html">
            <img class="img-fluid"  src="https://www.freepnglogos.com/uploads/intel-png-logo/brand-intel-logo-png-4.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.amazon.ca/ref=nav_logo">
            <img class="img-fluid"   src="https://www.freepnglogos.com/uploads/amazon-png-logo-vector/amazon-icon-symbol-png-logo-21.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://discord.com/">
            <img class="img-fluid"   src="https://www.freepnglogos.com/uploads/discord-logo-png/papirus-apps-iconset-papirus-development-team-discord-icon-14.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.paypal.com/ca/home">
            <img class="img-fluid"   src="https://islandsunjewelers.com/rebuild/wp-content/uploads/2018/05/card-paypal.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.instagram.com/">
            <img class="img-fluid"  src="https://www.designbust.com/download/171/png/instagram_logo_color_icon256.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.interactivebrokers.ca/en/home.php">
            <img class="img-fluid"   src="https://companiesmarketcap.com/img/company-logos/256/IBKR.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://shipping.dhl.ca/landing-page-116184U-570688S.html?">
            <img class="img-fluid"   src="https://cdn.shopify.com/s/files/1/1109/3312/t/140/assets/dhl.png?v=105982943249339478081649131433" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.ibm.com/ca-en?lnk=m">
            <img class="img-fluid"   src="https://nubela.co/proxycurl/media/dwarf/img/Misc/ibm.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.verizon.com/">
            <img class="img-fluid"   src="https://bridgingapps.org/wp-content/uploads/2021/01/small-verizon-logo.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.att.com/">
            <img class="img-fluid"   src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5m8KJqyjZnw5n_3yZxznmW0sIvNYNBtwcEA&usqp=CAU" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.snapchat.com/">
            <img class="img-fluid"  src="https://hellowoofy.com/wp-content/uploads/2021/12/snapchat-hellowoofy-social-media-management-arjun-rai-blog-management-smart-speaker-marketing.png" alt="client" />
            </a>
         </li>
         <li class="col-md-3 col-sm-3 col-6">
            <a href="https://www.nytimes.com/">
            <img class="img-fluid"  src="https://www.eltana.com/eltimg/eltny.png" alt="client" />
            </a>
         </li>
      </ul>
   </div>
</section>
<!-- /Clients -->
<!-- CONTACT -->
<section id="contact-nav">
   <div class="container">
      <header class="text-center mb-60">
         <h2>Contact Us</h2>
         <hr />
      </header>
      <div class="row">
         <div class="col-md-8 col-sm-8">
            <h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>
            <%= form_with url:leads_path, id:"fields", local:true, method: :post do %>
            <div class="row">
               <div class="col-md-4">
                  <label for="contact:name">Full Name *</label>
                  <input required type="text" value="" class="form-control" name="leads[fullNameContact]" id="name">
               </div>
               <div class="col-md-4">
                  <label for="contact:email">E-mail Address *</label>
                  <input required type="email" value="" class="form-control" name="leads[email]" id="email">
               </div>
               <div class="col-md-4">
                  <label for="contact:phone">Phone</label>
                  <input type="text" value="" class="form-control" name="leads[phoneNumber]" id="phone">
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <label for="contact:name">Buisiness Name</label>
                  <input required type="text" value="" class="form-control" name="leads[companyName]" id="company_name">
               </div>
               <div class="col-md-4">
                  <label for="contact:email">Project Name</label>
                  <input required type="text" value="" class="form-control" name="leads[nameProject]" id="project_name">
               </div>
               <div class="col-md-4">
                  <label for="contact_department">Department</label>
                  <select class="form-control pointer" id="department-type" onchange="department()">
                     <option value="waw" selected="true" disabled >--- Select ---</option>
                     <option value="Marketing">Residential</option>
                     <option value="Webdesign">Commercial</option>
                  </select>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <label for="contact:message">Project Description</label>
                  <textarea required maxlength="100" rows="4" class="form-control" name="leads[descriptionProject]" id="project_description"></textarea>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <label for="contact:message">Message *</label>
                  <textarea required maxlength="10000" rows="8" class="form-control" name="leads[message]" id="message"></textarea>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <label for="contact:attachment">File Attachment</label>
                  <!-- custom file upload -->
                  <input class="custom-file-upload" type="file" id="file" name="leads[file]" id="attachment" data-btn-text="Select a File" />
                  <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <%= submit_tag "Submit", id:"submit", class:"btn btn-primary btn-lg " %>
               </div>
            </div>
            <input type="hidden" id="secret1" name="leads[department]" >
            <% end %>
         </div>
         <!-- /FORM -->
         <!-- INFO -->
         <div class="col-md-4 col-sm-4">
            <h2>Visit Us</h2>
            <p>
               <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Quebec H4G 1W5</span>
               <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:(418) 555-1234">(418) 555-1234</a></span>
               <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
            </p>
         </div>
         <!-- /INFO -->
      </div>
   </div>
</section>
